<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="stylesheet" href="/public/style.css">  
    <link rel="stylesheet" href="/public/css/gallery.css">  
    <link rel="stylesheet" href="/public/css/accord.css">  
		<link rel='shortcut icon' href='favlogo.ico'>
    <title>{{get title}}</title>
	</head>
<body>
    <header>
      {{get header}}
    </header>

  <div id = "parent">
    <main>
      {{get content}}
    </main>
    <div class = 'push'></div>
  </div>

    <footer class='footer'>
      {{get footer}}
    </footer>
    <script src = "/public/script.js"></script>
</body>
</html>
